{% extends 'base.html' %}

{% block title %}Field Data{% endblock title %}

{% block content %}

<style>
    .el_logo {
        width: 70%;
        margin-bottom: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        filter: drop-shadow(0 0 12px rgba(0, 123, 255, 0.7)) drop-shadow(0 0 24px rgba(0, 123, 255, 0.4));
        -webkit-filter: drop-shadow(0 0 12px rgba(0, 123, 255, 0.7)) drop-shadow(0 0 24px rgba(0, 123, 255, 0.4));
    }

    .control-titulo {
        font-size: 1.4em;
    }
</style>

<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <img src="/static/imgs/logo.png" class="el_logo" alt="Logo">
        <div class="card shadow-sm">
            <div class="card-body" style="display: flex; flex-direction: column;">
                <div class="row">
                    <div class="col-12">
                        <label class="control-titulo">Water pH <i class="text-primary bi bi-droplet-half"></i></label>
                        <div class="input-group w-75">
                            <input type="number" id="txt_ph_agua" class="form-control">
                            <div class="input-group-text" onclick="window.open('https://drive.google.com/file/d/1tijwdLdN8xSuS4j2yonYi1jcJGC_jH7O/view')">
                                <i class="fa fa-question"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="control-titulo">Water Conductivity <i class="text-warning bi bi-lightning-charge-fill"></i></label>
                        <div class="input-group w-75">
                            <input type="number" id="txt_conductividad_agua" class="form-control">
                            <div class="input-group-text" onclick="window.open('https://drive.google.com/file/d/1dFu9tgpudxEnaxly2JfI8cMx-8KTmEgT/view')">
                                <i class="fa fa-question"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="control-titulo">Soil Salinity <i class="text-success fas fa-seedling"></i></label>
                        <div class="input-group w-75">
                            <input type="number" id="txt_salinidad_tierra" class="form-control">
                            <div class="input-group-text" onclick="window.open('https://drive.google.com/file/d/1xGml5kMMakIxRfyWyaQemordff-sjHlo/view')">
                                <i class="fa fa-question"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label class="control-titulo">Soil Moisture <i class="text-primary fas fa-water"></i></label>
                        <div class="input-group w-75">
                            <input type="number" id="txt_humedad_tierra" class="form-control">
                            <div class="input-group-text" onclick="window.open('https://drive.google.com/file/d/1i83rxP5FKAW8Gla9RTbjM6uTkIHRY7mI/view')">
                                <i class="fa fa-question"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12 mt-3">
                        <button class="btn btn-success w-100" onclick="location.href = '/Principal'">Save</button>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary w-100">Get measurement kit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="/static/fontawesome/js/all.min.js"></script>
<script src="/static/scripts/Principal.js"></script>
{% endblock scripts %}