{% extends 'base.html' %}

{% block title %}Variables de inicio · Farm Navigators{% endblock %}

{% block content %}

<style>
    #img_cultivos {
        border: 1.4px solid rgb(172, 172, 172);
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .porcentaje_efectividad {
        font-size: 2.5em;
    }
</style>

<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body" style="display: flex; flex-direction: column;">
                <div class="row">
                    <div class="col-6">
                        <label title="Temperatura del suelo." class="fs-6 text-bold">Temperatura (F°)</label>
                        <input type="text" id="txt_temperatura_suelo" value="75.2" class="form-control fs-6" disabled>
                    </div>
                    <div class="col-6">
                        <label class="fs-6 text-bold">Tipo de suelo</label>
                        <select id="ddl_tipo_suelo" class="form-select fs-6" disabled>
                            <option value="1">Arenoso</option>
                            <option value="2">Arcilloso</option>
                            <option value="3">Limoso</option>
                            <option value="4" selected>Franco</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="fs-6 text-bold">Demanda del producto</label>
                        <input type="text" id="txt_demanda_producto" class="form-control fs-6" value="Alta" disabled>
                    </div>
                    <div class="col-6">
                        <label class="fs-6 text-bold">Probabilidad de lluvia</label>
                        <input type="text" id="txt_probabilidad_lluvia" value="Media" class="form-control fs-6" disabled>
                    </div>
                </div>
                <img src="/static/imgs/tierra_sola.png" id="img_cultivos" style="width: 100%;" alt="tierra_sola">
                <div class="row">
                    <div class="col-12">
                        <h4 style="text-decoration: underline;">Efectividad del cultivo:</h4>
                        <h1 class="porcentaje_efectividad">80%</h1>
                    </div>
                </div>
                <div class="row mt-auto mb-5">
                    <div class="col-12">
                        <label class="fs-5" title="Fecha de proyección de los cultivos">Fecha</label>
                        <input type="date" id="txt_fecha" class="form-control mb-2 fs-5">
                        <button type="button" class="btn btn-primary w-100" onclick="window.open('/static/pdfs/5 consejos para que tus cultivos sean más sostenible.pdf')">Consejos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/Principal.js"></script>
{% endblock %}